{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sequnce counting</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
  </head>
  <body>
    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="file-upload" data-text="Load .csv file">
      <input type="file" name="file">

      </div>
      <p><input type="submit"></p>
      {%if message %}
        <h3>{{ message }}</h3>
      {%endif%}
      {%if currency%}
        <a href="{% url 'currencies'%}">Available currency</a>
        <a href="{% url 'sequence'%}">Available sequence</a>
      {%endif%}
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>